$backgroundColor1: #292a2d;
$backgroundColor2: #ffffff;
$backgroundColor3: #292a2d;
$blue: #ffffff;
$size-1: 2.4em;
$size-2: 1.4em;
$size-3: 100%;
$size-4: 0.8em;
$size-5: 0.6em;

$navbar-background-color: $backgroundColor1;
$navbar-item-color: #4370af;
$navbar-item-hover-color: #F1FAEE;
$navbar-item-hover-background-color: #1a2f4d;
$navbar-height: 3rem;

.is-kinda-white {
    color: #ffffff !important;
}
.is-background-1 {
    background-color: $backgroundColor1;
    color: white;
    size: 1.35rem;
}
.is-background-2{
    background-color: $backgroundColor2;
}
.is-background-3{
    background-color: $backgroundColor3;
}

@import '~bulma/bulma';